{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@config": "./src/config",
          "@middlewares": "./src/middlewares",
          "@validations": "./src/validations",
          "@services": "./src/services",
          "@models": "./src/models",
          "@schemas": "./src/models",
          "@controllers": "./src/controllers",
          "@routes": "./src/routes",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}